# Proxy
alias make-proxy="export https_proxy=http://127.0.0.1:7890 http_proxy=http://127.0.0.1:7890 all_proxy=socks5://127.0.0.1:7890"
alias lg="lazygit"
# Tools
alias timeout=gtimeout
alias reload="source ~/.zshrc"

alias ll="ls -la"
